AddDefaultCharset UTF-8
AddLanguage en-US .html .htm .css .js

IndexIgnore .??* *~ *# HEADER* README* RCS CVS *,v *,t
IndexIgnore .nojekyll .git cgi-bin
	# HIDE /theme DIRECTORY
	IndexIgnore .htaccess /theme
